.upload-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#template-name {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align: center;
}

.name-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 75%;
}

.create-template-button.btn.btn-primary {
    margin-top: 15px;
    font-weight: bold;
    color: black;
    border-color: black;
    background-color: #f0eff0;
}

.drop-area-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parentDisable{
    position: fixed;
    top: 0;
    left: 0;
    background: #F0EFF0;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
}

.overlay-box {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: black; background: #F0EFF0; opacity: .8;
    z-index: 1000;
}
