.modal-dialog.modal-dialog-scrollable{
    height:100%;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    float: right;
}

.modal-title {
    margin-top: 30px;
}

.modal-content {
    height: 100vh;
}

.modal-dialog-scrollable .modal-footer {
    justify-content: flex-start;  
}

.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.nav-link {
    width: 50%;
    text-align: center;
}

.headerDiv {
    width:100%;
    height:100%;
}

.input-group>.form-control {
    height: auto;
}

#tools {
    margin-top: -9px;
}

#arrow, #tools {
    border: none;
}

#arrow:hover, #tools:hover {
    border: none;
    background: none;
}

#arrow:focus, #copyBtn:focus, #tools:focus {
    box-shadow: none;
}

#copyBtn:hover {
    background: none;
}

@media (min-width: 576px) {
    .modal-dialog-scrollable .modal-content {
        max-height: 100vh !important;
    }
}

.modal-dialog-scrollable .modal-content {
    max-height: 100vh !important;
}