.upload-modal-container {
    display: flex;
    flex-direction: column;
}

.upload-modal-title {
    align-self: flex-start;
    line-height: 1.5em;
}

.upload-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.batch-send-button.btn.btn-primary {
    margin-top: 15px;
    font-weight: bold;
    color: black;
    border-color: black;
    background-color: #f0eff0;
}

.drop-area-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
