.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    background: white;
}

.header-logo {
    padding: 2vh 10vw;
}

.header-desc {
    padding: 0px 3vw;
    display: flex;
    align-items: center;
}

.header-desc div {
    padding: 0px 3px;
}

.header-desc h3 {
    font-size: 15px;
    font-family: 'Arial Narrow';
    letter-spacing: 5px;
    color: black;
    font-weight: 150;
}
