* {
  box-sizing: border-box;
}

:root {
  --amplify-primary-color: #db0011;
  --amplify-primary-tint: #db0011;
  --amplify-primary-shade: #db0011;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header-container {
  position: sticky;
  top: 0;
}
