.template-component {
    width: 100%;
    height: inherit;
    background-color: white;
}

.template-container {
    margin-top: 20px;
}

.upload-button.btn.btn-primary {
    background-color: #000000;
    border-color: #000000;
    font-weight: bold;
    font-size: medium;
    padding: 0.5rem 2rem;
    height: fit-content;
    white-space: nowrap;
}

.template-header {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 0.5em 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.template-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 850px) {
    .template-header {
        flex-direction: column;
    }

    .template-header-left {
        flex-direction: column;
    }

    .search-bar>.form-control {
        margin: 0;
        padding: 0;
        float: left;
    }
}

.template-grid-title {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 35vw;
}

.search-bar>.form-control {
    border-color: black;
    width: 250px;
}

.search-bar>.form-control-append {
    margin-right: -30vw;
}

#searchBtn {
    width: 50px;
}
