.template-component {
    width: 100%;
    height: inherit;
    background-color: white;
}

.upload-container {
    padding: 0px 100px;
}

.convert {
    margin:10px 0px; 
    padding:20px; 
    border:1px solid #ddd;
}
